@import '../../scss/variables';

.NavMenu {
  background-color: $nav-menu-bck;
  width: 80px;
  height: calc(100vh - #{$navbar-height});
  border-right: solid 1px $nav-menu-border;
  overflow: hidden;
  position: fixed;
  top: $navbar-height;
  left: 0;

  .NavMenu-section {
    display: flex;
    flex-direction: column;
    padding: 8px 0;

    &:not(:last-child) {
      border-bottom: solid 1px $nav-menu-border;
    }
  }

  .NavMenuTextButton,
  .NavMenuButton {
    border: 0 none;
    border-radius: 0;
    background: transparent;
    font-size: $size-7;
    color: $layout-text;
  }

  .NavMenuButton {
    display: flex;
    flex-direction: column;
    padding: 37px 0;
    background-color: rgba($dark, 0);
    transition: background-color 0.3s ease-out;

    &:hover {
      background-color: rgba($dark, 0.05);

      img {
        opacity: 0.85;
      }
    }

    img {
      max-width: 24px;
      max-height: 24px;
      margin-bottom: 8px;
      opacity: 0.3;
      transition: opacity 0.3s ease-out;
    }

    &.is-active {
      font-weight: bold;

      img {
        opacity: 1;
      }
    }
  }
}
