.control {
  &[data-error] {
    position: relative;

    &:after {
      position: absolute;
      content: attr(data-error);
      color: $danger;
      align-items: center;
      display: flex;
      right: 1px;
      height: calc(100% - 2px);
      top: 1px;
      border-radius: 4px;
      padding: 0 16px;
    }
  }
}

.input[disabled],
.textarea[disabled],
.select select[disabled],
fieldset[disabled] .input,
fieldset[disabled] .textarea,
fieldset[disabled] .select select,
.select fieldset[disabled] select {
  background-color: transparent;
  border-color: rgba($black, 0.1);
  box-shadow: none;
  color: rgba($black, 0.2);
}

.button.is-loading::after,
.loader,
.select.is-loading::after,
.control.is-loading::after {
  border: 2px solid $primary;
  border-right-color: transparent;
  border-top-color: transparent;
  height: 1.25em;
  width: 1.25em;
}

.image.is-28x28 {
  height: 28px;
  width: 28px;
}

@keyframes shine {
  0% {
    background-position: 0px;
  }

  100% {
    background-position: 600px;
  }
}
